@using Shaker.Client.Dtos
@using Shaker.Client.Services
@inject IJSRuntime JSRuntime
@inject BarService BarService

<div class="modal fade cocktail-popup" id=@($"{Cocktail.Id}-cocktail-modal") tabindex="-1" aria-labelledby="@Cocktail.Name" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-lg">
    <div class="modal-content">
      <div class="modal-header cocktail-popup-header">
        <h2 class="modal-title cocktail-popup-title" id="exampleModalLabel">@Cocktail.Name</h2>
        <button type="button" class="btn-close cocktail-popup-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <img src="@Cocktail.ImageUrl" class="card-img-top cocktail-image" alt="cocktail">
          <p class="card-text my-3">@Cocktail.Recipe</p>
      </div>
    </div>
  </div>
</div>

<div class="col mb-3">
    <div class="card mx-auto cocktail-card">
        @if (!IgnoreFavorites) {
            <div class="favorite-icon-container" @onclick="async () => await ToggleFavoriteAsync()">
                @if (Cocktail.IsFavorite) {
                    <svg class="favorite-icon" width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1.61804L19.1167 11.2102L19.229 11.5557H19.5922H29.6781L21.5184 17.484L21.2246 17.6976L21.3368 18.0431L24.4535 27.6353L16.2939 21.7069L16 21.4934L15.7061 21.7069L7.54649 27.6353L10.6632 18.0431L10.7754 17.6976L10.4816 17.484L2.32194 11.5557H12.4078H12.771L12.8833 11.2102L16 1.61804Z" fill="#CB500B" stroke="black"/>
                    </svg>
                }
                else {
                    <svg class="favorite-icon" width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1.61804L19.1167 11.2102L19.229 11.5557H19.5922H29.6781L21.5184 17.484L21.2246 17.6976L21.3368 18.0431L24.4535 27.6353L16.2939 21.7069L16 21.4934L15.7061 21.7069L7.54649 27.6353L10.6632 18.0431L10.7754 17.6976L10.4816 17.484L2.32194 11.5557H12.4078H12.771L12.8833 11.2102L16 1.61804Z" stroke="black"/>
                    </svg>
                }
            </div>
        }
        <img src="@Cocktail.ImageUrl" class="card-img-top cocktail-image cocktail-image-in-card" alt="cocktail" data-bs-toggle="modal" data-bs-target=@($"#{Cocktail.Id}-cocktail-modal")>
        <div class="card-body">
            <div class="d-flex">
                <h2 class="card-title" style="margin: auto">@Cocktail.Name</h2>
            </div>
        </div>
        <ul class="list-group list-group-flush text-left">
            @foreach (var ingredient in Cocktail.Ingredients) {
                <li class="list-group-item">@ingredient.Name</li>
            }
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public Cocktail Cocktail { get; set; } = new();
    
    [Parameter]
    public bool IgnoreFavorites { get; set; }
    
    [Parameter] 
    public int BarId { get; set; }
    
    [Parameter] 
    public EventCallback OnFavoriteToggled { get; set; }

    private async Task ToggleFavoriteAsync() {
        if (Cocktail.IsFavorite) {
            await BarService.RemoveFromFavoritesAsync(Cocktail.Id, BarId);
        }
        else {
            await BarService.AddToFavoritesAsync(Cocktail.Id, BarId);
        }
        
        Cocktail.IsFavorite = !Cocktail.IsFavorite;
        await OnFavoriteToggled.InvokeAsync();
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JSRuntime.InvokeVoidAsync("muteUnmuteImages");
    }
}