@page "/ingredients"
@using Shaker.Client.Services
@using Shaker.Client.Dtos
@using Shaker.Client.Helpers
@inject DataService DataService
@inject BarService BarService
@inject CocktailService CocktailService
@inject CocktailsStateService CocktailsStateService
@inject BarStateService BarStateService
@implements IDisposable

<div class="container text-center">
    <h2>Інгрідієнти</h2>

    @if(_loading) {
        <p>Завантаження...</p>
    }
    else {
        if (_failed) {
            <p>@_errorMessage</p>
        }
        else if (_currentBarId == -1) {
            <button type="button" class="btn btn-link cocktails-menu-link" data-bs-toggle="offcanvas" data-bs-target="#shaker-menu">Обери бар</button>
        }
        else if (_ingredientsEmpty) {
            <p>Інгрідієнти недоступні.</p>
        }
        else if (_cocktailsEmpty) {
            <p>Коктейлі недоступні.</p>
        }
        else {
            <select id="select-ingredient" @bind="_selectedIngredientId" class="form-select form-select mb-3 cocktails-select" style="padding: 1rem" aria-label="Обрати інгрідієнт">
                <option value="-1">Обрати інгрідієнт</option>
                @foreach (var ingredient in _allIngredients.Except(_bar.Ingredients)) {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </select>
            
            <button type="button" class="btn btn-link mb-3 @(_selectedIngredientId == -1 ? "disabled" : "")"  @onclick="async () => await AddToBarAsync(_selectedIngredientId, _currentBarId)">Додати до бару</button>
            
            <div class="mb-3">
                <input id="search-ingredient" type="text" class="form-control" placeholder="Знайти інгрідієнт" @bind="_searchQuery" @oninput="OnInput">
            </div>
            
            @if (_myIngredientsEmpty) {
                <p>Бар порожній. Додай інгрідієнти.</p>
            }
            else {
                <ul class="list-group list-group-flush list-group-item-action">
                    @foreach (var ingredient in _searchedIngredients) {
                        <li class="list-group-item list-group-item-action" style="display: flex; justify-content: space-between; align-items: center">
                            @ingredient.Name 
                            <button type="button" class="btn btn-link" @onclick="async () => await RemoveFromBarAsync(ingredient, _currentBarId)">Прибрати</button>
                        </li>
                    }
                </ul>
            }
        }
    }
</div>
@code {
    private bool _ingredientsEmpty;
    private bool _myIngredientsEmpty;
    private bool _cocktailsEmpty;


    private bool _loading = true;
    private bool _failed;
    private string _errorMessage = "";
    
    private int _currentBarId = -1;
    private int _selectedIngredientId = -1;
    private List<Ingredient> _allIngredients = new();
    private List<Ingredient> _searchedIngredients = new();
    private Bar _bar = new();

    private string _searchQuery = "";
    private Timer? _debounceSearchTimer;

    protected override async Task OnInitializedAsync() {
        _debounceSearchTimer = new Timer(Search, null, Timeout.Infinite, Timeout.Infinite);
        BarStateService.OnCurrentBarChange += OnCurrentBarBarChanged;
        await LoadAndSetIngredientsAsync();
    }
    
    private async Task OnCurrentBarBarChanged() {
        DataService.ClearCachedBar();
        await RefreshAsync();
        StateHasChanged();
    }

    private async Task RefreshAsync() {
        _loading = true;
        _searchedIngredients = new();
        _bar = new Bar();
        _selectedIngredientId = -1;
        _ingredientsEmpty = false;
        _myIngredientsEmpty = false;
        _cocktailsEmpty = false;
        
        _failed = false;
        _errorMessage = "";
        
        ResetSearch();
        _currentBarId = await BarStateService.GetBarAsync();
        await LoadAndSetIngredientsAsync();
        _loading = false;
    }
    
    private async Task LoadAndSetIngredientsAsync() {
        _currentBarId = await BarStateService.GetBarAsync();
        if (_currentBarId == -1) {
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _loading = false;
            return;
        }
        List<Cocktail> allCocktails;
        
        // load all ingredients
        try {
            _allIngredients = await DataService.LoadIngredientsAsync();
            if (_allIngredients.Count == 0) {
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                _ingredientsEmpty = true;
                _loading = false;
                return;
            }
        }
        catch {
            _failed = true;
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _errorMessage = "Не вдалося завантажити інгрідієнти.";
            _loading = false;
            return;
        }
        
        // load all cocktails
        try {
            allCocktails = await DataService.LoadCocktailsAsync();
            await CocktailsStateService.SetAllCocktailsCountAsync(allCocktails.Count);
            if (allCocktails.Count == 0) {
                _cocktailsEmpty = true;
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                _loading = false;
                return;
            }
        } catch {
            _failed = true;
            _errorMessage = "Не вдалося завантажити рецепти коктейлів.";
            _loading = false;
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            return;
        }
        
        // map all cocktails
        foreach(var cocktail in allCocktails) {
            cocktail.Ingredients = _allIngredients
                .Where(ingredient => cocktail.Ingredients.Any(i => i.Id == ingredient.Id))
                .ToList();
        }
        
        // load bar
        try {
            _bar = await DataService.LoadBarAsync(_currentBarId);
            if (_bar.Ingredients.Count == 0) {
                _loading = false;
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                _myIngredientsEmpty = true;
                return;
            }
        }
        catch {
            _failed = true;
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _errorMessage = "Не вдалося завантажити бар";
            _loading = false;
        }
        
        _bar.Ingredients = _allIngredients
            .Where(ingredient => _bar.Ingredients.Any(i => i.Id == ingredient.Id))
            .ToList();
        
        _searchedIngredients = _bar.Ingredients.ToList();
        var availableCocktails = CocktailService.GetAvailableCocktails(_bar, allCocktails);
        
        await CocktailsStateService.SetCalculatedCocktailsCountsAsync(availableCocktails.Count, _bar.Ingredients.Count);
        _loading = false;
    }
    

    private void ResetSearch() {
        _searchQuery = "";
        _searchedIngredients = _bar.Ingredients;
    }

    private async Task AddToBarAsync(int ingredientToAddId, int barId) {
        if (ingredientToAddId == -1) {
            return;
        } 
        await BarService.AddToBarAsync(new Ingredient { Id = ingredientToAddId }, barId); 
        await RefreshAsync();
    }

    private async Task RemoveFromBarAsync(Ingredient ingredientToRemove, int barId) {
        await BarService.RemoveFromBarAsync(ingredientToRemove, barId);
        await RefreshAsync(); 
    }
    
    
    private void OnInput(ChangeEventArgs e)
    {
        _searchQuery = e.Value?.ToString() ?? "";
        _debounceSearchTimer!.Change(250, Timeout.Infinite);
    }
    
    private async void Search(object? state)
    {
        await InvokeAsync(() => {
            _searchedIngredients = SearchHelper.SearchIngredients(_bar.Ingredients, _searchQuery);
            StateHasChanged();
        });
    }

    public void Dispose() {
        _debounceSearchTimer?.Dispose();
        BarStateService.OnCurrentBarChange -= OnCurrentBarBarChanged;
    }
}